In [1]:
print("hello_world")

hello_world

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.DataFrame(np.random.random((2,3)))

          0         1         2
0  0.340763  0.107784  0.445308
1  0.946111  0.666949  0.742028